/*
/*/
!/assets/
!/assets/
!.gitignore

!perch

perch/*

!perch/templates/
!perch/templates/**
!.htaccess

!src
!src/*

!package.json
!package-lock.json
!webpack.config.js
!.cpanel.yml
!rollup.config.js
!tsconfig.json