<perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" suppress="true" />
<perch:blog id="postSubTitle" type="text" label="Subtitle" suppress="true" order="2">
<perch:blog id="featureImage" type="image" width="1280" help="Use a high resolution image here (more than 1280px wide)" label="Feature Image" suppress="true" />
<perch:blog id="featureImage" type="image" width="300" height="300" crop="true" help="Use a high resolution image here (more than 1280px wide)" label="Feature Image" suppress="true" />

<div class="c-hero">
    <img class="c-hero__image" src="<perch:blog id="featureImage" type="image" label="Feature Image" />">
    <div class="l-block l-block--padding-none">
        <div class="l-restrict c-hero__title-wrapper-outer">
            <div class="c-hero__title-wrapper">
                <h1 id="postTitle" class="c-hero__title"><perch:blog id="postTitle"></h1>
            </div>
        </div>
    </div>
</div>

<div class="l-block l-block--padding-none">
    <div class="l-restrict">
        <article class="c-article c-text-card c-indent">
            <div class="c-post-details">
                <perch:template path="blog/post_details.html" />
            </div>
            
            <perch:layout path="tags" slug="<perch:blog id="postSlug" suppress="true" >"/>
            
            <div class="c-post l-flow">
                <perch:blog type="textarea" id="text" label="Post" html editor="redactor" size="xxl autowidth" />
            </div>
        </article>
    </div>
</div>

<perch:blog id="postURL" suppress="true" label="Post URL" type="hidden" />
<perch:blog id="excerpt" type="textarea" label="Excerpt" editor="redactor" html order="3" suppress="true" size="s" />