* {
    --primary: #f5f5e9;
    --secondary: #4f4f4f;
}


.l-restrict {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.l-restrict--narrow {
    max-width: 900px;
}

.l-block {
    /* margin: 4rem 0; */
    padding: 6rem 1rem;
    width: 100%;
    background:#fff;
}

.l-block--padding-none {
    padding: 0 1rem;
}

.l-block--padding-half {
    padding: 3rem 1rem;
}

.l-block--padding-top {
    padding: 6rem 1rem 0 1rem;
}

.l-block--padding-bottom {
    padding: 0 1rem 6rem 1rem;
}

.l-block--padding-large { 
    padding: 9rem 1rem;
}

.l-block--padding-double {
    padding: 12rem 1rem;
}

.l-block--primary {
    background-color: var(--primary);
}

.l-block--secondary {
    background-color: var(--secondary);
    color: white;
}

.l-block--margin-top-1 {
    margin-top: 1rem;
}

.l-block--margin-top-2 {
    margin-top: 2rem;
}

.l-block--margin-top-3 {
    margin-top: 3rem;
}

.l-block--margin-top-4 {
    margin-top: 4rem;
}

.l-block--margin-top-5 {
    margin-top: 5rem;
}

.l-block--margin-top-6 {
    margin-top: 6rem;
}

.l-block--margin-bottom-1 {
    margin-bottom: 1rem;
}

.l-block--margin-bottom-2 {
    margin-bottom: 2rem;
}

.l-block--margin-bottom-3 {
    margin-bottom: 3rem;
}

.l-block--margin-bottom-4 {
    margin-bottom: 4rem;
}

.l-block--margin-bottom-5 {
    margin-bottom: 5rem;
}

.l-block--margin-bottom-6 {
    margin-bottom: 6rem;
}

img{
	max-width:100%;
	height:auto;
}

.l-block ul{
	list-style:disc;
	margin-left:2rem;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.l-artist{
	width:100%;
	padding:1rem;
	background:#f1f2f2;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
}

@media screen and (max-width:680px){
	.l-artist{
		grid-template-columns: 1fr;
	}
}