<perch:before><ul class="c-navbar c-navbar--left-align"></perch:before>
<li 
    class="<perch:if exists="current_page">selected </perch:if>
            <perch:if exists="ancestor_page">ancestor </perch:if>
            c-navbar__element"
>
    <perch:if exists="subitems">
        <button class="c-navbar__button c-navbar__button--hover-invert">
            <perch:pages id="pageNavText" />
            <i class="fas fa-angle-down c-icon"></i>
        </button>
    <perch:else>
        <a href="<perch:pages id="pagePath" />" class="c-navbar__link c-navbar__link--hover-invert">
            <perch:pages id="pageNavText" />
        </a>
    </perch:if>
    <perch:pages id="subitems" encode="false"/>
</li>
<perch:after>
</ul>
</perch:after>